<ion-content>
  <!-- <ion-content class="blue-background">
    
  
  </ion-content> --> 
  
  <ion-content 
    class="placeholder-background"
  >

    <div class="blue-background">
      <div class="ion-padding">
        <h3 class="graphik-medium grey-light">
          Good morning, 
          <br>
          <span class="graphik-semibold text-white">{{ name }} ({{ storeType }})</span>
        </h3>
      </div>
    
      <ion-grid>
        <ion-row>
          <ion-col
            size="9"
          >
            <ion-searchbar 
              placeholder="What are you looking for today?"
              class="placeholder-background"
            >
            </ion-searchbar>
          </ion-col
          >
          <ion-col
            size="3"
          >
            <div>
              <ion-icon name="archive" class="ion-icon"></ion-icon>
              <ion-badge class="badge">{{ orderCount }}</ion-badge>
            </div> 
          </ion-col
          >
        </ion-row>
      </ion-grid>
    </div>

    <ion-card class="card-padding">
      <ion-card-header class="line">
        <ion-card-title class="graphik-medium ion-padding">Billing Info</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
  
        <div class="ion-padding">
          <img 
            src="../assets/icon/favicon.png"
            class="image-size"
          />
        </div>
  
        <div class="ion-padding">
          <h2 class="graphik-medium grey-light">PERSON</h2>
          <h2 class="text-dark">
            {{ name }}
          </h2>
        </div>
        
        <div class="ion-padding">
          <h2 class="graphik-medium grey-light">STORE</h2>
          <h2 class="text-dark">
            {{ person }} <br>
            {{ phone }}
          </h2>
        </div>
  
        <div class="ion-padding">
          <h2 class="graphik-medium grey-light">BILLING ADDRESS</h2>
          <h2 class="text-dark">
            {{ address }}
          </h2>
        </div>
  
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title class="graphik-medium ion-padding">
          Buyer Orders
          
        </ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row class="line-only">
            <ion-col class="active-line">
              <h2>
                Orders
                <ion-badge class="badge-color">{{ orderCount }}</ion-badge>
              </h2>
            </ion-col>
            <ion-col size="5">
              <h2>
                Weekly Order
                <ion-badge class="badge-color">4</ion-badge>
              </h2>
            </ion-col>
            <ion-col>
              <h2>In Cart</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="line">
          <ion-row>
            <ion-col size="4">
              <ion-button color="light" class="button-height">
                <ion-icon name="funnel"></ion-icon>
                &nbsp; Filter
              </ion-button>
            </ion-col>

            <ion-col size="8">
              <ion-searchbar 
                placeholder="Search orders..."
              >
              </ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <div class="ion-padding line" *ngFor="let order of orders">
          <ion-badge [ngClass]="checkStatus(order.tag)" class="capitalize">
            {{ order.tag }}
          </ion-badge>
          <h2 class="graphik-medium text-dark">
            Order #{{ order.ref }}
            <span class="float-right">&#x20A6; {{ order.amount | number}}</span>
          </h2>
          <h2 class="grey-light">
            {{ getExactOrderItems(order._id).length }} Items · 
            {{ formatDate(order.created) }}
          </h2>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let order of orders">
      <div *ngIf="checkCompleteStatus(order)">
        <ion-card-header class="line-only">
          <ion-card-title class="graphik-medium ion-padding">
            Order #{{ order.ref }}
          </ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
    
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding">
                <h2 class="graphik-medium grey-light">DATE</h2>
                <h2 class="text-dark">
                  {{ formatDate(order.created) }}
                </h2>
              </ion-col>
  
              <ion-col class="ion-padding">
                <h2 class="graphik-medium grey-light">STATUS</h2>
                <h2 class="text-dark">
                  <ion-badge [ngClass]="checkStatus(order.tag)" class="capitalize">
                    {{ order.tag }}
                  </ion-badge>
                </h2>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding">
                <h2 class="graphik-medium grey-light">DISTRUBUTOR</h2>
                <h2 class="text-dark">
                  {{ order.seller.name }}
                </h2>
              </ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-list>
  
            <ion-item 
              class="border-line" 
              *ngFor="let item of getExactOrderItems(order._id)"
            >
              <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <img 
                      src="../assets/icon/favicon.png"
                      class="product-image-size"
                    />
                  </ion-col>
      
                  <ion-col size="9">
                    <h2 class="graphik-regular text-dark">
                      {{ item.product.name }} <br>
                      ({{ item.product.mpu }} X {{ item.quantity }})
                    </h2><br>
                    <h2 class="text-dark">
                      <b>&#x20A6; {{ item.product.price | number }}</b>
                      &nbsp;&nbsp; {{ item.quantity }} Units &nbsp;
                      <ion-icon name="create" class="grey-light"></ion-icon>
                      <ion-icon name="close" class="float-right badge-color text-red"></ion-icon>
                    </h2>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            
          </ion-list>
  
          <div>
            <h1 class="graphik-semibold text-dark">
              TOTAL
              <span class="float-right">&#x20A6; {{ order.amount | number }}</span>
            </h1>
          </div>
  
        </ion-card-content>
      </div>      
    </ion-card>

  </ion-content>
  
</ion-content>

